page-card-popover {
    button {
        padding-left: 0 !important;
        text-align: center !important;
    }
    div.item-inner {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
}
