<ion-header>
  <ion-navbar>
    <ion-title>
      榜单
    </ion-title>
  </ion-navbar>
  <ion-segment [(ngModel)]="rankSegment" (ionChange)="onSegmentChanged($event)">
    <ion-segment-button *ngFor="let item of topSegment" [value]="item.value">
      {{ item.title }}
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content>
  <ion-slides #rankSlider *ngIf="showSlider; else loading"
    (ionSlideDidChange)="onSlideChangEnd($event)" 
    (ionSlideWillChange)="onSlideChangStart($event)">
    <!--今日-->
    <ion-slide>
      <rank-tab-today *ngIf="showSlides[0]; else loading"></rank-tab-today>
    </ion-slide>
    
    <!--比赛-->
    <ion-slide>
      <rank-tab-match *ngIf="showSlides[1]; else loading"></rank-tab-match>
    </ion-slide>
    
    <!--奖励-->
    <ion-slide>
      <rank-tab-award *ngIf="showSlides[2]; else loading"></rank-tab-award>
    </ion-slide>

  </ion-slides>
</ion-content>

<ng-template #loading>
  <div id="loading">
    Loading...
  </div>
</ng-template>