page-rank-page {}

ion-slide div.slide-zoom {
    position: absolute;
    top: 0;
    right: 0;
}

ion-thumbnail img {
    height: 70px !important;
}

ion-slide.swiper-slide {
    overflow-y: scroll;
}

div.scroll-content {
    overflow-y: hidden;
}