<ion-header>
  <ion-navbar>
    <ion-title>
      榜单
    </ion-title>
  </ion-navbar>
  <ion-segment [(ngModel)]="rankSegment" (ionChange)="onSegmentChanged($event)">
    <ion-segment-button *ngFor="let item of topSegment" [value]="item.value">
      {{ item.title }}
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content>
  <ion-slides #rankSlider (ionSlideWillChange)="onSlideChanged($event)">
    <!--今日-->
    <ion-slide #todaySlidePage>
      <rank-tab-today></rank-tab-today>
    </ion-slide>
    
    <!--评级-->
    <ion-slide #ratingSlidePage style="background: #f4f4f4">
      <rank-tab-rating *ngIf="showSlides[1]"></rank-tab-rating>
    </ion-slide>
    
    <!--比赛-->
    <ion-slide #matchSlidePage style="background: #f4f4f4">
      <rank-tab-match *ngIf="showSlides[2]"></rank-tab-match>
    </ion-slide>
    
    <!--奖励-->
    <ion-slide #awardSlidePage style="background: #f4f4f4">
      <rank-tab-award *ngIf="showSlides[3]"></rank-tab-award>
    </ion-slide>

  </ion-slides>
</ion-content>


