page-store-page {
    ion-img img {
        height: 100%;
        width: 100%;
    }
    .clicked {
        color: white;
        background: darkred;
    }
    .notclicked {
        border: solid 1px gray;
        color: gray;
        background: white;
    }
}
