<!-- Generated template for the RankTabAward component -->
<ion-item-divider color="light" style="text-align: left">筛选条件</ion-item-divider>
<ion-list>
    <ion-item>
        <ion-label>时间</ion-label>
        <ion-select [(ngModel)]="awardSelector.time">
            <ion-option value="today">今日</ion-option>
            <ion-option value="yesterday">昨日</ion-option>
            <ion-option value="thisMonth">本月</ion-option>
            <ion-option value="lastMonth">上个月</ion-option>
        </ion-select>
    </ion-item>
    <ion-item>
        <ion-label>类型</ion-label>
        <ion-select [(ngModel)]="awardSelector.type">
            <ion-option value="hatTrick">Hat Trick</ion-option>
            <ion-option value="whiteHorse">White Horse</ion-option>
            <ion-option value="bed">3 in bed</ion-option>
            <ion-option value="black">3 in black</ion-option>
            <ion-option value="lowTon">Low Ton</ion-option>
            <ion-option value="highTon">High Ton</ion-option>
            <ion-option value="ton80">Ton 80</ion-option>
            <ion-option value="mark9">9MARK</ion-option>
            <ion-option value="mark8">8MARK</ion-option>
            <ion-option value="mark7">7MARK</ion-option>
            <ion-option value="mark6">6MARK</ion-option>
            <ion-option value="mark5">5MARK</ion-option>
        </ion-select>
    </ion-item>
</ion-list>
<ion-list>
    <ion-item>
        我的排名
    </ion-item>
    <ion-item>
        <div class="row">
            <div class="col">全球</div>
            <div class="col">全国</div>
        </div>
    </ion-item>
    <ion-item>
        <div class="row">
            <div class="col">9999</div>
            <div class="col">8000</div>
        </div>
    </ion-item>
</ion-list>
<ion-list>
    <ion-item>
        排行榜
    </ion-item>
    <ion-item>
        <div class="row">
            <div class="col">排名</div>
            <div class="col">国家</div>
            <div class="col">得分</div>
            <div class="col">玩家</div>
            <div class="col">主店</div>
        </div>
    </ion-item>
    <ion-item *ngFor="let item of awardRankList">
        <div class="row">
            <div class="col">{{ item.rank }}</div>
            <div class="col"><img [src]="item.img" /></div>
            <div class="col">{{ item.score }}</div>
            <div class="col">{{ item.player }}</div>
            <div class="col">{{ item.mainStore }}</div>
        </div>
    </ion-item>
</ion-list>
