<!--
  Generated template for the GameDataPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>游戏数据</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <!--<ion-list></ion-list>-->
  <!--<ion-list>-->
  <!--  <ion-item><span>总游戏次数</span><span style="float: right">58</span></ion-item>-->
  <!--  <ion-item><span>对战游戏次数</span><span style="float: right">17</span></ion-item>-->
  <!--</ion-list>-->
    
  <!--<ion-list>-->
  <!--  <ion-item><span>高分</span><span style="float: right">854</span></ion-item>-->
  <!--  <ion-item><span>平均分</span><span style="float: right">593.04</span></ion-item>-->
  <!--</ion-list>-->
  
  <!--<ion-list *ngFor="let gameData of gameDatas">-->
  <!--  <ion-item> <b>{{ gameData.title }}</b></ion-item>-->
  <!--  <ion-item *ngFor="let item of gameData.data">-->
  <!--    <span>{{ item[0] }}</span>-->
  <!--    <span style="float: right">{{ item[1] }}</span>-->
  <!--  </ion-item>-->
  <!--</ion-list>-->
  
  <!--<ion-list>-->
  <!--  <ion-item> <b>奖励记录</b></ion-item>-->
  <!--  <ion-item style="text-align: center">-->
  <!--    <div class="row header">-->
  <!--      <div class="col">AWARD</div>-->
  <!--      <div class="col">本月</div>-->
  <!--      <div class="col">总次数</div>-->
  <!--    </div>-->
  <!--  </ion-item>-->
  <!--  <ion-item style="text-align: center" *ngFor="let item of awards">-->
  <!--    <div class="row">-->
  <!--    <div class="col">{{ item.name }}</div>-->
  <!--    <div class="col">{{ item.thisMonth }}</div>-->
  <!--    <div class="col">{{ item.all }}</div>-->
  <!--    </div>-->
  <!--  </ion-item>-->
  <!--</ion-list>-->
  <ion-segment mode="md" [(ngModel)]="gameTypeSeg">
    <ion-segment-button value="game01">
      <div style="line-height: 25px">
        <span class="segment-title">01GAME PPD</span> <br />
        <span class="segment-num">10.27</span>
      </div>
    </ion-segment-button>
    <ion-segment-button value="cricket">
      <div style="line-height: 25px">
        <span class="segment-title">CRICKET MPR</span> <br />
        <span class="segment-num">2.32</span>
      </div>
    </ion-segment-button>
    <ion-segment-button value="count-up">
      <div style="line-height: 25px">
        <span class="segment-title">COUNT-UP avg</span> <br />
        <span class="segment-num">0</span>
      </div>
    </ion-segment-button>
  </ion-segment>

  <ion-segment class="smallSegment" [(ngModel)]="timeSeg">
    <ion-segment-button value="day30">最近一个月</ion-segment-button>
    <ion-segment-button value="game30">最近30场</ion-segment-button>
  </ion-segment>
  
  <div>
  <img [src]="img[timeSeg]" style="padding: 10px; padding-bottom: 0" />
  <!--<img src="assets/zhexian2.PNG" style="padding: 10px; padding-bottom: 0" />-->
  <div style="text-align: center; font-size: small">
    近30 {{ timeSeg === 'day30'? '天' : '场' }} 游戏记录 
  </div>
  <ion-card>
    <ion-list>
      <button *ngFor="let item of itemList[timeSeg]; let i = index" [attr.data-index]="i"
        ion-item (click)="this.navCtrl.push(btnItem[timeSeg])">
        <span style="float: left">
          <span style="padding-right: 14px">{{ i+1 }}</span>{{ item.date }}
        </span>
        <span style="float: right;">
          <span style="font-size: small">{{ item.tag }}</span>
          <ion-icon [color]="item.tag != null? 'primary' : ''">
            {{ item.score }}</ion-icon>
       </span>
      </button>
    </ion-list>
  </ion-card>
  </div>
</ion-content>
