page-game-data-page {
    .segment-num {
        font-size: 25px !important;
    }
    .segment-title {
        font-size: 5px !important;
        color: gray;
    }
    ion-segment-button {
        height: auto !important;
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }
    .smallSegment ion-segment-button {
        font-size: small !important;
        line-height: 15px !important;
        padding: 0px;
    }
    .list-md .item-block .item-inner {
        border-bottom: 1px solid #dedede !important;
    }
    .item-md[detail-push] .item-inner,
    button.item-md:not([detail-none]) .item-inner,
    a.item-md:not([detail-none]) .item-inner {
        background-image: url("data:image/svg+xml;charset=utf-8,<svg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2012%2020'><path%20d='M2,20l-2-2l8-8L0,2l2-2l10,10L2,20z'%20fill='%23dedede'/></svg>");
        padding-right: 32px;
        background-repeat: no-repeat;
        background-position: right 14px center;
        background-size: 14px 14px;
    }
}
