<!--
  Generated template for the DayGameData page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>该天游戏数据概要</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-item-divider>2017-05-08</ion-item-divider>
    
  <ion-item-group class="panel" *ngFor="let item of itemList">
    <ion-item-divider color="light"
    (click)="item.display = (item.display == 'none' ? 'block' : 'none')">
      <span style="float:left">{{ item.title }}</span>
      <ion-icon name="ios-arrow-down" style="color: black; float:right"></ion-icon>
    </ion-item-divider>
    <div [style.display]="item.display">
    <ion-item>
      当日最高{{ item.type }}: 29
    </ion-item>
    <ion-item>
      当日平均{{ item.type }}: 29
    </ion-item>
    <ion-item>
      游戏总轮数: 1
    </ion-item>
    </div>
  </ion-item-group>
    
  <!--<ion-item-group>-->
  <!--  <ion-item-divider color="light">-->
  <!--  <span style="float:left">CRICKET</span>-->
  <!--  <ion-icon name="ios-arrow-down" style="color: black; float:right"></ion-icon>-->
  <!--  </ion-item-divider>-->
  <!--  <div [style.display]="toggle.cricket">-->
  <!--  <ion-item>-->
  <!--    当日最高MPR: 23-->
  <!--  </ion-item>-->
  <!--  <ion-item>-->
  <!--    当日平均MPR: 19-->
  <!--  </ion-item>-->
  <!--  <ion-item>-->
  <!--    游戏总轮数: 5-->
  <!--  </ion-item>-->
  <!--  </div>-->
  <!--</ion-item-group>-->
    
  <!--<ion-item-group>-->
  <!--  <ion-item-divider color="light">-->
  <!--  <span style="float:left">COUNT-UP</span>-->
  <!--  <ion-icon name="ios-arrow-down" style="color: black; float:right"></ion-icon>-->
  <!--  </ion-item-divider>-->
  <!--  <div [style.display]="toggle.countUp">-->
  <!--  <ion-item>-->
  <!--    当日最高: 30-->
  <!--  </ion-item>-->
  <!--  <ion-item>-->
  <!--    当日平均: 25-->
  <!--  </ion-item>-->
  <!--  <ion-item>-->
  <!--    游戏总轮数: 3-->
  <!--  </ion-item>-->
  <!--  </div>-->
  <!--</ion-item-group>-->
  
  <ion-item-group>
    <ion-item-divider color="light" [style.fontSize]="'medium'"
    (click)="awardDisp = awardDisp == 'none'? 'block' : 'none'">
      <span style="float:left">当天获得奖励</span>
      <ion-icon name="ios-arrow-down" style="color: black; float:right"></ion-icon>
    </ion-item-divider>
    <div [style.display]="awardDisp">
      <ion-item *ngFor="let item of award">
        <span style="float:left"> {{ item.type }}</span>
        <span style="float:right"> {{ item.count + '次数'}}</span>
      </ion-item>
    </div>
  </ion-item-group>

</ion-content>
