<!--
  Generated template for the GameHistory page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>游戏历史</ion-title>
  </ion-navbar>

</ion-header>

<ion-content style="background: #f4f4f4">
  <!--<ion-item-divider color="light">-->
  <!--</ion-item-divider>-->
  <!--<ion-list>-->
  <!--<ion-item>-->
  <!--<ion-label>排序(逆序)</ion-label>-->
  <!--<ion-select [(ngModel)]="gender">-->
  <!--  <ion-option value="date" selected="true">按日期</ion-option>-->
  <!--  <ion-option value="PPD">按PPD</ion-option>-->
  <!--  <ion-option value="MPR">按MPR</ion-option>-->
  <!--</ion-select>-->
  <!--</ion-item>-->
  <!--</ion-list>-->

  <!--<ion-card *ngFor="let item of gameHistorys">-->
  <!--<button ion-item style="padding-left: 0" (click)="this.navCtrl.push('GameHistoryDetail', { item: item })">-->
  <!--  <ion-card-header>-->
      <!--{{ item.result }}-->
  <!--    <div style="color: #505050; float: right; font-size: small">{{ item.time }}</div>-->
  <!--  </ion-card-header>-->
  <!--  <ion-card-content>-->
      <!--<div>{{ item.type }}</div>-->
  <!--    <ion-label stacked>Username</ion-label>-->
  <!--    <ion-item>{{ item.scoreType + ":" + item.score }}</ion-item>-->
  <!--  </ion-card-content>-->
  <!--</button>-->

  <!--</ion-card>-->
    
  <ion-card *ngFor="let daysData of gameWeekData; let i = index" [attr.data-index]="i">
  <ion-card-header (click)="showList[i] = (showList[i] === 'none' ? 'block' : 'none')">
    <span style="float: left">2017-05-0{{ 8 - i }}</span>
    <button style="float: right; background: transparent; font-size: large">
    <ion-icon name="ios-arrow-down" style="color: black;"></ion-icon>
    </button>
  </ion-card-header>
  
  <div [style.display]="showList[i]">
  <ion-list class="day-outline">
    <ion-item-divider color="light">概要</ion-item-divider>
    <ion-item>
    <div class="row header">
      <div class="col"></div>
      <div class="col">01GAME</div>
      <div class="col">CRICKET</div>
      <div class="col">COUNT-UP</div>
    </div>
    </ion-item>
    <ion-item>
    <div class="row">
      <div class="col">最高</div>
      <div class="col">29</div>
      <div class="col">22</div>
      <div class="col">0</div>
    </div>
    </ion-item>
    <ion-item>
    <div class="row">
      <div class="col">平均</div>
      <div class="col">25</div>
      <div class="col">20</div>
      <div class="col">0</div>
    </div>
    </ion-item>
    <ion-item>
    <div class="row">
      <div class="col">最低</div>
      <div class="col">15</div>
      <div class="col">13</div>
      <div class="col">0</div>
    </div>
    </ion-item>
  </ion-list>
  
  <ion-list >
    <ion-item-divider color="light">明细</ion-item-divider>
    <button (click)="this.navCtrl.push('GameHistoryDetail')"
      ion-item *ngFor="let item of daysData">
      <span [style.color]="item.result ? 'darkred' : 'green'">
        {{ item.result? '失败' : '胜利' }} 
      </span>
      <span style="color: gray">{{ '(' + item.type + ')' }}</span>
      <span style="float:right"> {{ item.scoreType + ": " + item.score }} </span>
    </button>
  </ion-list>
  </div>
</ion-card>
</ion-content>
