page-home-page {
    .three-button {
        margin: auto 0;
        padding: 20px 0;
        width: 32%;
        height: auto !important;
    }
    .icon-size {
        font-size: 30px;
    }
    button.swiper-pagination-bullet {
        background: red;
    }
    .ion-md-country::before {
        content: url("../assets/CN.png") !important;
    }
    .ion-md-title-logo::before {
        content: url("../assets/phoenixdarts.png") !important;
    }
    ion-item {
        color: #505050 !important;
    }
    .title {
        color: black !important;
    }
    .rank ion-icon {
        margin-right: 0 !important;
    }
    
    ion-item.border-bottom-none div.item-inner{
        border-bottom: none !important;
    }
    
    
}
