<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <!--<ion-icon name="title-logo" style="margin: 0 10px"></ion-icon>-->
    <ion-title>Asia Darts Association</ion-title>
    
      <ion-buttons end>
      <button ion-button icon-only (click)="btnCountry($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>


<ion-content style="background:#f4f4f4">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- 轮播广告 -->
  <ion-slides pager style="height: 30%; " autoplay="2000" loop>
    <ion-slide>
      <img src="assets/dart1.jpg" style="width: 100%">
    </ion-slide>
    <ion-slide>
      <img src="assets/dart2.jpg" style="width: 100%">
    </ion-slide>
    <ion-slide>
      <img src="assets/dart3.jpg" style="width: 100%">
    </ion-slide>
  </ion-slides>

  <!-- 三格按钮 -->
  <!--<ion-list>-->
  <!--<ion-item>-->
  <div style="background:white">
    <button ion-button clear class="three-button" (click)="navPush(childPage.rechargePage)">
    <div>
      <ion-icon name="logo-yen" class="icon-size"></ion-icon>
      <br>
      <label>{{ childPage.rechargePage.title }}</label>
    </div>
  </button>
    <button ion-button clear class="three-button" (click)="navPush(childPage.noticePage)">
    <div>
      <ion-icon name="alert" class="icon-size"></ion-icon>
      <br>
      <label>{{ childPage.noticePage.title }}</label>
    </div>
  </button>
    <button ion-button clear class="three-button" (click)="navPush(childPage.gameDataPage)">
    <div>
      <ion-icon name="ios-game-controller-b" class="icon-size"></ion-icon>
      <br>
      <label>{{ childPage.gameDataPage.title }}</label>
    </div>
  </button>
  </div>
  <!--</ion-item>-->
  <!--</ion-list>-->
  <ion-list></ion-list>


  <!-- 个人重要信息 评级，ppd, MPR (登录后) 。。。-->
  <ion-list [style.display]="isLogin">
    <ion-item class="border-bottom-none">
      <ion-avatar item-left (click)="this.navCtrl.push('PersonDetailPage')">
        <img src="assets/portrait.png">
      </ion-avatar>
      <h2 class="title">Zhangsan</h2>
      <!--<p>个人中心:详细，编辑...</p>-->
    </ion-item>
    <ion-item (click)="this.navCtrl.push('GameDataPage')">
      <ion-label>评级：29 </ion-label>
      <ion-label>PPD：90</ion-label>
      <ion-label>MPR: 80</ion-label>
    </ion-item>
  </ion-list>
  
    <!-- 今日游戏数据(登录后) -->
  <ion-list class="today-game">
    <ion-item class="border-bottom-none">
      <ion-icon class="title" item-left name="ios-game-controller-b" style="float:left"></ion-icon>
      <h2 class="title" style="float:left">今日游戏数据</h2>
      <h3 style="float:right" (click)="this.navCtrl.push('GameHistory')">更多</h3>
    </ion-item>

    <ion-item>
      Count-up <span style="float: right">232</span>
    </ion-item>
    <ion-item>
      PPD <span style="float: right">32</span>
    </ion-item>
    <ion-item>
      MPR <span style="float: right">15</span>
    </ion-item>


    <!--<ion-item id="rank">-->
    <!--  <div>-->
    <!--    <ion-segment [(ngModel)]="gameSegment" (ionChange)="onGameSegmentChanged($event)">-->
    <!--      <ion-segment-button value="game1">-->
    <!--        高分赛-->
    <!--      </ion-segment-button>-->
    <!--      <ion-segment-button value="game2">-->
    <!--        01游戏-->
    <!--      </ion-segment-button>-->
    <!--      <ion-segment-button value="game3">-->
    <!--        米老鼠-->
    <!--      </ion-segment-button>-->
    <!--    </ion-segment>-->
    <!--  </div>-->

    <!--  <ion-slides #gameSlider (ionSlideWillChange)="onGameSlideChanged($event)">-->
    <!--    <ion-slide *ngFor="let slide of gameSlides">-->
    <!--     <ion-item>-->
    <!--        <span style="padding-right: 25px">{{ slide.average[0] }}</span> {{ slide.average[1] }}-->
    <!--      </ion-item>-->
    <!--     <ion-item>-->
    <!--        <span style="padding-right: 25px">{{ slide.highest[0] }}</span> {{ slide.highest[1] }}-->
    <!--      </ion-item>-->
    <!--     <ion-item>-->
    <!--        <span style="padding-right: 25px">{{ slide.lowest[0] }}</span> {{ slide.lowest[1] }}-->
    <!--      </ion-item>-->
    <!--    </ion-slide>-->
    <!--  </ion-slides>-->
    <!--</ion-item>-->
  </ion-list>

  <!-- 新店铺 -->
  <ion-list>
    <ion-item class="border-bottom-none">
      <ion-icon class="title" item-left name="map" style="float:left"></ion-icon>
      <span class="title" style="float:left;">新店铺</span>
      <h3 style="float:right" (click)="this.navPush(childPage.newStorePage)">更多</h3>
    </ion-item>
    <ion-item>
      <ion-label><b>杭州</b>&nbsp;&nbsp;下沙白杨人文会所</ion-label>
    </ion-item>
    <ion-item>
      <ion-label><b>上海</b>&nbsp;&nbsp;东方明珠银河旅</ion-label>
    </ion-item>
  </ion-list>

   <!--排名 -->
  <ion-list>
    <ion-item class="border-bottom-none">
      <ion-icon item-left name="country" style="float:left;"></ion-icon>
      <h2 class="title" style="float:left">排名</h2>
      <h3 style="float:right" (click)="this.tabs.select(2);">更多</h3>
    </ion-item>
    <ion-item id="rank">
      <div style="margin: 5px; margin-bottom: 15px">
        <ion-segment [(ngModel)]="rankSegment" (ionChange)="onRankSegmentChanged($event)">
          <ion-segment-button value="rank1">
            高分赛
          </ion-segment-button>
          <ion-segment-button value="rank2">
            01游戏
          </ion-segment-button>
          <ion-segment-button value="rank3">
            米老鼠
          </ion-segment-button>
        </ion-segment>
      </div>

      <ion-slides class="rank" style="margin-top:8px;" 
        #rankSlider (ionSlideWillChange)="onRankSlideChanged($event)">
        <ion-slide *ngFor="let slide of rankSlides">

          <button ion-item (click)="btnPlayer()" detail-none>
            <ion-icon item-left color="primary">1</ion-icon>
              <img item-left style="height: 50px; margin-left: 24px" [src]="slide.img">
              <div style="position: relative; top: 2px">
              <span style="color: darkred;">{{slide.evaluate}}</span> {{ slide.player.score }}
              <h3 style="color: black; margin-top: 8px">Lv33 [CN] {{slide.player.name }}</h3>
              </div>
          </button>
          <button ion-item *ngFor="let item of slide.players" detail-none (click)="btnPlayer()">
            <!--<ion-icon item-left color="primary">{{ item.num }}</ion-icon>-->
            <span style="text-align: left; float:left">{{ item.num }}&nbsp; {{ item.name }} </span>
            <span style="text-align: right; float: right;"> {{ item.score }}</span>
          </button>
          <!--<ion-item>-->
          <!--  <ion-icon item-left color="primary" style="font-size: larger; margin-top: 25px">3</ion-icon>-->
          <!--  <span style="text-align: left; float:left"> 钉町 </span>-->
          <!--  <span style="text-align: right; float: right;"> 1000 </span>-->
          <!--</ion-item>-->
          <!--<ion-item>-->
          <!--  <ion-icon item-left color="primary" style="font-size: larger;color: black;margin-top: 25px">4</ion-icon>-->
          <!--  <span style="text-align: left; float:left"> 阿菲 </span>-->
          <!--  <span style="text-align: right; float: right;"> 1000 </span>-->
          <!--</ion-item>-->



        </ion-slide>
      </ion-slides>
    </ion-item>
  </ion-list>

  <!-- 该区域今日最近的公告 -->
  <ion-list> 
    <ion-item class="border-bottom-none">
      <ion-icon item-left name="alert" style="float:left;"></ion-icon>
      <h2 class="title" style="float:left">近期公告</h2>
      <h3 style="float:right" (click)="this.navCtrl.push('NoticePage')">更多</h3>
    </ion-item>
    <ion-item>
    <p>
    滨江游戏城飞镖周六维护，停止运营。下周一恢复营业。
      由于前日不法分子对我店造成的破坏和损失，我们将对店铺进行维修和改造。
      <br />请谅解。
    </p>
    
    </ion-item>
  </ion-list>

</ion-content>