page-recharge-page {
    .dandian {
        margin-top: 50px;
    }
    .dandian button {
        width: 30%;
        height: auto;
        padding: 10px !important;
    }
    .price {
        font-size: small;
        margin-top: 10px;
    }
}
